/* Header */

nav.nav_menu.active {
    width: 50%;
    margin-left: 50%;
    top: 5.9rem;
}

/* Home */

.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_image-home {
    grid-area: 1 / 2 / 2 / 12;
}

.image_home {
    object-fit: contain;
}

.home_info {
    grid-area: 2 / 2 / 3 / 12;
}

.container_text-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_text-2 {
    font-size: 3.6rem;
}

.container_parrafo-info p {
    font-family: 'Cooper Hewitt';
    color: var(--light-grey);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

/*sobre Mi*/
.container_content-sobreMi {
    width: 80%;
}

.container_texto-sobreMi {
    width: 100%;
    max-width: 80rem;
}

.container_image-sobreMi {
    min-width: 27rem;
    width: 100%;
    max-width: none;
    display: flex;
    padding: 5rem 0 0 0;
    justify-content: center;
    align-items: center;
}

.container_image-sobreMi img {
    max-width: 40rem;
}

/* Proyectos */

.cards_container--proyectos .card-externa {
    flex: 0 0 calc(100% / 2); /* Mostrar 2 cartas */
}

/* Formacion */


/* Habilidades */
.carousel {
    width: 76vw;
}